@model IList<StockIncomeViewModel>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h3>Stock Income List</h3>

@if(TempData["Msg"] != null)
{
    <div class="alert alert-info" role="alert">
        <span>@TempData["Msg"]</span>
    </div>
}

<div class="table-responsive">
    <table class="table table-bordered" id="StockIncomeTbl">
        <thead>
            <tr>
                <th scope="col">
                    <a href="/StockIncome/entry" class="btn add">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
                <th scope="col">Actions</th>
                <th scope="col">Supplier</th>
                <th scope="col">Stock Group</th>
                <th scope="col">Stock Item</th>                
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remarks</th>
                <th scope="col">Created At</th>
                <th scope="col">Created By</th>
                <th scope="col">Updated At</th>
                <th scope="col">Updated By</th>                
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td scope="row">@(Model.IndexOf(item)+1)</td>
                    <td>
                        <a href="/StockIncome/edit?id=@item.Id&line_id=@item.LINE_ID" class="btn update">
                            <i class="fa fa-pen-to-square"></i>
                        </a>
                        ||
                        <a href="/StockIncome/DeleteItem?pCaller=List&id=@item.Id&line_id=@item.LINE_ID" class="btn delete" onclick="return confirm('Are you sure to delete this record?')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                    <td>@item.SupplierInfo</td>
                    <td>@item.StkGrpInfo</td>
                    <td>@item.StkItemInfo</td>                    
                    <td>@item.PRICE</td>
                    <td>@item.QUANTITY</td>
                    <td>@item.Remarks</td>
                    <td>@item.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss tt")</td>
                    <td>@item.CreatedBy</td>
                    <td>@(item.UpdatedAt.HasValue ? item.UpdatedAt.Value.ToString("yyyy-MM-dd HH:mm:ss tt") : string.Empty)</td>
                    <td>@item.UpdatedBy</td>                    
                </tr>
            }
    </tbody>
</table>
</div>

<script>
    $(document).ready(function () {
        $('#StockIncomeTbl').DataTable(); //added css & js reference in shared _Layout
    });
</script>