@model IList<StockGroupViewModel>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="~/css/common.css" rel="stylesheet" />

<h3>Stock Group List</h3>

@if (TempData["Msg"] != null && !Convert.ToBoolean(TempData["IsError"]))
{
    <div class="alert alert-success" role="alert">
        <span>@TempData["Msg"]</span>
    </div>
}
else if (TempData["Msg"] != null && Convert.ToBoolean(TempData["IsError"]))
{
    <div class="alert alert-danger" role="alert">
        <span>@TempData["Msg"]</span>
    </div>
}

<div class="table-responsive">
<table class="table table-bordered" id="StockGroupTable">
    <thead>
        <tr>            
            <th scope="col">
                <a href="/StockGroup/entry" class="btn add">
                        <i class="fa fa-plus"></i>
                </a>
            </th>
            <th scope="col">Actions</th>                       
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">Remarks</th>
            <th scope="col">Created At</th>
            <th scope="col">Created By</th>
            <th scope="col">Updated At</th>
            <th scope="col">Updated By</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(Model.IndexOf(item) + 1)</th>
                <td>
                    <a href="/StockGroup/edit?Id=@item.Id" class="btn update">
                        <i class="fa fa-pen-to-square"></i>
                    </a>

                    <a href="/StockItem/delete?Id=@item.Id" class="btn delete" onclick="return confirm('Are you sure to delete this record?')">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>                
                <td>@item.Code</td>
                <td>@item.Description</td>
                <td>@item.Remarks</td>                
                <td>@item.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss tt")</td>
                <td>@item.CreatedBy</td>
                <td>@(item.UpdatedAt.HasValue ? item.UpdatedAt.Value.ToString("yyyy-MM-dd HH:mm:ss tt") : string.Empty)</td>                
                <td>@item.UpdatedBy</td>
            </tr>
        }     
    </tbody>
</table>
</div>

<script>
    $(document).ready(function () {
        $('#StockGroupTable').DataTable();
    });
</script>