@model StockItemViewModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Common.js"></script>
<script src="~/js/stockitem.js"></script>

<h3>Stock Item Edit Form</h3>
<form action="/StockItem/Update" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="row-side">
        <div class="col-side">
            <label for="StockGrp_Id" class="form-label">Stock Group</label>
            <select class="form-select" name="StockGrp_Id" id="stkgrpId" disabled>
                @foreach (var stkgrp in Model.StockGrpVMs)
                {
                    @if (stkgrp.Id == Model.StockGrp_Id)
                    {
                        <option value="@stkgrp.Id" selected>@stkgrp.Code</option>
                        break;
                    }
                }
            </select>

            <label for="Code" class="form-label">Stock Code</label>
            <input type="text" class="form-control" name="Code" id="txtCode" value="@Model.Code" readonly/>
        </div>

        <div class="col-side">
            <div style="display: flex;align-items: end;gap: 20px;">
                <div id="previewDiv">
                    <img id="uploadedImage"
                         src=""
                         alt="Uploaded Image"
                         style="max-width:140px; border:1px solid #ccc; padding:5px;" />
                </div>
                <div>
                    @* <input type="file" id="imageUpload" accept="image/*" /> *@
                    <label for="imageUpload" id="customUploadBtn">Choose File</label>
                    <span id="fileNameDisplay" style="margin-left: 5px;">@(Model.img_path.Contains("Default_Item.jpg") ? "No file chosen": Model.img_path)</span>

                    <input type="file" id="imageUpload" />
                </div>
                <input type="hidden" name="img_path" id="txtimgPath" value="" />
            </div>
        </div>
    </div>

    <div class="row-side">
        <div class="col-side">
            <label for="Description" class="form-label">Description</label>
            <input type="text" class="form-control" name="Description" id="txtDesc" value="@Model.Description" placeholder="enter Description here">
        </div>
        <div class="col-side">
            <label for="Barcode" class="form-label">Barcode</label>
            <input type="text" class="form-control" name="Barcode" id="txtBarcode" value="@Model.BarCode" placeholder="enter BarCode here">
        </div>
    </div>
    <div class="row-side">
        <div class="col-side">
            <label for="Sell_Price" class="form-label">Selling Price</label>
            <input type="number" step="any" class="form-control" name="Sell_Price" id="sellPrice" value="@Model.Sell_Price">
        </div>
        <div class="col-side">
            <label for="Offer_price" class="form-label">Offer Price</label>
            <input type="number" step="any" class="form-control" name="Offer_price" id="txtOffPrice" value="@Model.Offer_price" readonly>
        </div>
    </div>

    <div class="row-side">
        <div class="col-side">
            <label for="Disc_Type" class="form-label">Discount Type</label>
            <select class="form-select" name="Disc_Type" id="DiscType" onchange="DiscTypeOnChange(this)">
                <option value="">[select one]</option>
                <option value="A">Amount</option>
                <option value="P">Percent</option>
            </select>
        </div>
        <div class="col-hidden">Hidden</div>
    </div>

    <div class="row-side">
        <div class="col-side">
            <label for="Disc_Amount" class="form-label">Discount Amount</label>
            <input type="number" step="any" class="form-control" name="Disc_Amount" id="DiscAmt" value="@Model.Disc_Amount" @(Model.Disc_Type == "A" ? "null" : "readonly")>
        </div>
        <div class="col-side">
            <label for="Disc_Percent" class="form-label">Discount Percent</label>
            <input type="number" step="any" class="form-control" name="Disc_Percent" id="DiscPer" value="@Model.Disc_Percent" @(Model.Disc_Type == "P" ? "null" : "readonly")>
        </div>
    </div>
    <div class="row-side">
        <div class="col-side">
            <label for="From_Date" class="form-label">Effective From Date</label>
            <input type="datetime-local" class="form-control" name="From_Date" id="txtFrom_Date" value="@(Model.From_Date.HasValue ? Model.From_Date.Value.ToString("yyyy-MM-dd HH:mm:ss") : string.Empty)" @(Model.Disc_Type == "" || Model.Disc_Type ==null ? "readonly" : "null")>
        </div>
        <div class="col-side">
            <label for="To_Date" class="form-label">Effective To Date</label>        
            <input type="datetime-local" class="form-control" name="To_Date" id="txtTo_Date" value="@(Model.To_Date.HasValue ? Model.To_Date.Value.ToString("yyyy-MM-dd HH:mm:ss") : string.Empty)" @(Model.Disc_Type == "" || Model.Disc_Type == null ? "readonly" : "null")>
        </div>
    </div>
    <div class="row-bottom">
        <div class="col-side">
            <label for="Remarks" class="form-label">Remarks</label>
            <textarea class="form-control" placeholder="enter Remarks here" name="Remarks" id="txtRemarks">@Model.Remarks</textarea>
        </div>
    </div>
        
    <button type="submit" class="btn btn-update" id="btnEdit">Update</button>
    <a href="List" class="btn btn-secondary">Cancel</a>
    
</form>


<script>
    $(document).ready(function () {
        // Dynamically set the selected option based on a condition
        var selectedValue = "@Model.Disc_Type"; // Replace with your dynamic value
        $('#DiscType').val(selectedValue);

        // $('#uploadedImage').attr('src', "@Model.img_path");
        $('#uploadedImage').attr('src', "@Model.img_path" + '?t=' + new Date().getTime());

        $('#DiscAmt, #DiscPer, #sellPrice').on('change', function () {
            calculateOfferPrice();
        });
    });

    $('#imageUpload').on('change', function () {

        var originalFile = this.files[0];
        if (!originalFile) return;

        imageUpload(originalFile);
    });
</script>